body{
  background-color: rgb(36 35 35);
  margin: 0;
}

a{
  color: white;
}

a:hover{
  color: #c7a865;
  text-decoration: none;
}

p{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

h1, h5{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

/* Text */
.text-title-part-1{
  font-size: 30px;
}

.text-title-part-2{
  font-size: 20px;
}

.img-description{
  font-size: 16px;
}

.title-font{
  color: #c7a865;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.side-title{
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.gemm{
  font-size: 40px;
}

.big-text{
  font-size: 40px;
}

.md-text{
  font-size: 28px;
}

.sidebar{
  background-color: #323232;
  height: 100%;
  width: 8rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 20px 0 0;
}

.main {
  background-color: #242323;
  margin: 0 0 0 8rem; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0 2rem;
  height: 100%;
}

.title-box{
  padding: 2rem 0 4rem 0;
}

/* Images */
.images{
  margin-top: 7rem;
}

.constant-size{
  width: 12rem;
}
