body{
  margin: 0;
}

p{
  margin: 0;
}

/* Text */
.text-title-part-1{
  font-size: 30px;
}

.text-title-part-2{
  font-size: 20px;
}

.title-font{
  color: #c7a865;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.side-title{
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.sidebar{
  background-color: rgb(50 50 50);
  height: 100%;
  width: 8rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 20px 0 0;
}

.main {
  background-color: rgb(36 35 35);
  margin: 0 0 0 8rem; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0 2rem;
  height: 100%;
}

.title-box{
  padding: 2rem 0 4rem 0;
}

/* Images */
.constant-size{
  width: 12rem;
}
